@import url('https://fonts.googleapis.com/css?family=Barlow');
html {
  background: #f7f7f7;
}

body {
  font-family: 'Barlow', sans-serif;
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
}

header,
footer {
  background: #333a40;
  color: #ffffff;
}

.product {
  border: 1px solid grey;
  width: 200px;
}

img {
  max-width: 100%;
}